.image-container {
  height: 40rem;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media (max-width: 37.5em) {
  .image {
    border-radius: 0;
  }
}
